<!doctype html>
<html lang="en">
<head>
<title>Log In</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='js/custom.js')}}" rel="stylesheet">


</head>
<body class="img js-fullheight" style="background-image: url({{ url_for('static', filename='images/Background/bg2.jpg')}}); height: 937px;">

    <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Media Sever</h2>
            </div>
        </div>
    <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Have an account?</h3>
            <form action="#" class="signin-form" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username" value="{{request.form.username}}" required>
                </div>
                <div class="form-group">
                    <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}" required>
                </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3" value="Login">Log In</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="text-md-center">
                <a href="#" style="color: #fff">Forgot Password</a>
                </div>
            </div>
            {{error}}
            </form>
        </div>
    </div>
    </div>
    </div>
    </section>
</body>
</html>
