{% extends "header.html"%}
{% block body %}
<div class="row" id="p1">
    <div class="col-sm-4 col-xs-4 col-lg-2" style="padding-top: 5%;" >
    <figure> 
    <img class="img-responsive roundedBoxWhite" src="{{ url_for('static', filename='images/media/'+Type_season+TitleText+'/0.png')}}"
    alt="{{TitleText}}" onerror="this.onerror=null;this.src='static/images/imagefound.png';" width="300" height="600">
    </figure>
    </div>
    <div style="padding-top: 5%;" class="col-sm-8 col-xs-8 col-lg-8">
        <h1 class="seasonTitle">{{TitleText}}</h1>
        <h6 class="sypnosis">{{Syp}}</h6>
    </div>
</div>
<div class="row" style="margin: 10%;" >
    {% for t in range(1,EpisodeCount) %}
      <div id="p2" class="col-sm-8 col-xs-8 col-lg-8" style="margin: 16px;" >
        <a href="/season/watch/{{TitleText}}/season/{{Syp}}/{{t|string}}" style="text-decoration: none;">
        <h4 class="EpisodeNumber"> Episode {{t|string}}</h4>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}