<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <title>Watch Video</title>
    </head>
    <body>
        <div>
            <video id="videoPlayer" class="video-js vjs-big-play-centered" poster="E:/Server Flask V 1.1/static/images/media/movie/Doctor Strange/background.jpg">
                
                <source src="Doctor.Strange.2016.2160p.4K.BluRay.x265.10bit.AAC5.1-[YTS.MX].mkv" type='video/x-matroska'>
                <source src="Black Clover S1E119.mp4" type="video/mp4"/>
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that supports the video.
                    >
                </p>
            </video>
            <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
            <script type="text/javascript" src="video-player.js"></script>
    
        </div>
        
    </body>
</html>